:root {
    /* Colors */
    --color-background: #09090B;
    --color-surface: #18181B;
    --color-surface-hover: #27272A;
    --color-border: #27272A;

    --color-text-primary: #FAFAFA;
    --color-text-secondary: #A1A1AA;

    --color-primary: #6366F1;
    --color-primary-hover: #3843ac;

}

body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-primary);
}

.btn-primary {
    background-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
}
